.App {
  text-align: center;
}

.container {
  margin: 10px;
  width: 60% !important;
}

.add-btn, .react-datepicker__input-container input {
  margin-left: 10px;
}

.item-wrapper {
  border: 1px solid rgb(219, 215, 215);
  margin: 10px 0px;
  text-align: left;
  padding: 7px;
}

.react-datepicker__input-container input {
  border: 1px solid #ced4da !important;
  padding: 0.375rem 0.75rem !important;
  border-radius: 0.25rem !important;
}

.fa-edit, .fa-trash {
  cursor: pointer;
  margin-left: 10px;
  padding: 0px;
}

.fa-trash {
  color: red;
}